input[type="text"]:focus,
textarea:focus,
select:focus {
  outline: none !important;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}
.alert:hover{
    border: 1px solid lightgrey;
    transition: 1s;
    box-shadow:0px 0px 15px black;
}
.butno:hover{
    
    border: 1px solid lightgrey;
    transition: 1s;
    box-shadow:0px 0px 15px black;
    
}
.butno:active{
    outline: none;
    border:none;
}

button:active {
    outline: none;
    border: none;
}
.butno:focus {outline:0;}
button:focus {outline:0;}

input:active {
    outline: none;
    border: none;
}
